.nav-main a {
	@media screen and (min-width: $break-medium) {
		@include rem(14);

		padding: .18em .75em .55em;
	}

	@media screen and (min-width: $break-large) {
		@include rem(16);

		padding: .25em 1.3em .55em;
	}

	@media screen and (min-width: $break-xlarge) {
		@include rem(17);

		padding: .25em 1.3em .55em;
	}
}