/* Home Hero
========================================================================== */
.test {
	background: #f2f2f2;
	border-bottom: 5px solid $yellow;
	position: relative;
	xheight: 665px;
}
.blarg {
	background: url(../images/hero-image-home.jpg) no-repeat top right;
	width: 70%;
	position: absolute;
	height: 100%;
	top: 0;
}
.test-left {
	background: #bada55;
	float: left;
	width: 70%;
}
.test-right {
	background: #f2f2f2;
	float: right;
	width: 30%;
	min-height: 660px;
}

.hero-text {	
	@media screen and (min-width: $break-medium) {
		position: absolute;
		bottom: 4em;
		overflow: hidden;
		width: 65%;
	}
}
.blocktext {
	margin-top: 0;
	@include rem(30);
	font-weight: 600;
	line-height: 1.35;
	padding: 1px;
	@media screen and (min-width: $break-small) {
		background: rgba(0,0,0,.8);
		color: #fff;
		display: inline;
		@include rem(36);
	}
	@media screen and (min-width: $break-medium) {
		@include rem(39);
	}
}
.hero-text ul {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
}
.hero-text li {
	
	margin: 0 10px 10px 0;
	@media screen and (min-width: $break-small) {
		float: left;
	}
}
.hero-text li a {
	background: $yellow;
	color: #fff;
	display: block;
	font-family: $heading-font;
	@include rem(21);
	font-weight: 600;
	letter-spacing: .05em;
	padding: 5px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	text-transform: uppercase;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-transition: all .2s ease-out;
	&:hover {
		text-decoration: none;
		margin-top: -2px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	}
	&:after {
		content: (' \2192');
	}
}


/* Home Highlights
========================================================================== */
.home-highlights {
	padding: 2em 2em;
}
.module {
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,.4);
	box-shadow: 0 1px 1px rgba(0,0,0,.4);
	border-radius: 2px;
	margin-top: 1em;
}
.module:first-child {
	margin-top: 0;
}
.module .media {
	border-bottom: 4px solid $yellow;
}
.module .media img, .module .media object, .module .media embed {
	width: 100%;
}
.module .inner {
	@include rem(14);
	line-height: 1.5;
	padding: 1em;
}
.module h3 {
	font-size: 18px;
	margin: .3em 0 .5em;
	text-transform: uppercase;
	& a {
		color: #333;
	}
}